@model AutoSalonGrida.Models.User
@{
    ViewData["Title"] = "Просмотр записи";
}

<h2>Просмотр записи</h2>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Имя</dt>
        <dd class="col-sm-9">@Model.Name</dd>
        <dt class="col-sm-3">Возраст</dt>
        <dd class="col-sm-9">@Model.Age</dd>
        <dt class="col-sm-3">Логин</dt>
        <dd class="col-sm-9">@Model.Login</dd>
        <dt class="col-sm-3">Роль</dt>
        <dd class="col-sm-9">@Model.Role?.Name</dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Администратор"))
    {
        <a asp-action="Edit" asp-route-id="@Model.IdUser">Редактировать</a><span> | </span>
    }
    <a asp-action="Index">Назад</a>
</div>
