@model AutoSalonGrida.Models.ViewModels.CarDetailsViewModel
@{ ViewData["Title"] = $"{Model.Car.Brand} {Model.Car.Model}"; }

<div class="row g-4">
    <div class="col-lg-7">
        <img src="@Model.Car.ImageUrl" class="img-fluid rounded-4 mb-3 w-100" alt="@Model.Car.Brand @Model.Car.Model" />
        <div class="row g-2">
            @foreach (var image in Model.Gallery)
            {
                <div class="col-4"><img src="@image.ImagePath" class="img-fluid rounded-3 detail-thumb" /></div>
            }
        </div>
    </div>
    <div class="col-lg-5">
        <h1>@Model.Car.Brand @Model.Car.Model</h1>
        <p class="display-6 text-primary fw-bold">@Model.Car.Price.ToString("N0") ₽</p>
        <p>@Model.Car.Description</p>
        <ul class="list-group mb-4">
            <li class="list-group-item">Год: @Model.Car.Year</li>
            <li class="list-group-item">Категория: @Model.Car.Category?.Name</li>
            <li class="list-group-item">Тип двигателя: @Model.Car.EngineType</li>
            <li class="list-group-item">Пробег: @Model.Car.Mileage км</li>
        </ul>
        <form asp-controller="Cart" asp-action="Add" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="carId" value="@Model.Car.Id" />
            <button class="btn btn-primary btn-lg" type="submit">Добавить в корзину</button>
        </form>
    </div>
</div>
